<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo - ship locations!</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body>
    <div id="vue-instance">

      <h4 v-for="gp in gameplayers"> {{gp.player.email}} 
          <span v-if="gameplayerID == gp.id">(you)</span>
      </h4>         

        <div id="game-grid">

          <table>
            <th>
              <td v-for="col in columns"> {{col}} </td>
            </th>
            <tr v-for="row in rows">
              <th>{{row}}</th>
              <td v-bind:id="col+row" v-for="col in columns"></td>
            </tr>
          </table>
        

        </div>


        <ol>
            <li v-for="game in games">{{ game }}</li>
        </ol>
    </div>

<script src="games.js"></script>
</body>
</html>